<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">

<body>
    <div class="main-content">
        {{>header}}
        <p>I am {{name}} and I hope this page will be helpful one day</p>
    </div>
    {{>footer}}
</body>
</head>

</html>